<ion-header>
  <ion-toolbar>
    <ion-title>
      Búsqueda de Recetas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar (ionInput)="buscarRecetas($any($event.target).value, $any($event.target).value )" placeholder="Buscar recetas"></ion-searchbar>

  <ion-list>
    <ion-item *ngFor="let receta of recetas">
      <ion-thumbnail slot="start">
        <img [src]="receta.strMealThumb" alt="Receta">
      </ion-thumbnail>
      <ion-label>
        <h2>{{ receta.strMeal }}</h2>
        <p>{{ receta.strCategory }}</p>
      </ion-label>
      <ion-button expand="full" color="primary" [routerLink]="'/receta/' + receta.idMeal" [state]="{ receta: receta }">Ver detalles</ion-button>
    </ion-item>
  </ion-list>
</ion-content>
